* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: black;
    font-family: SlatePro,
        Helvetica,
        Arial,
        sans-serif;
    font-style: normal;
    font-size: 1.125em;
    font-weight: 400;
    text-transform: none;
    line-height: 1.625;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-style: normal;
    font-size: 2.75em;
    font-family: "Chronicle Display", Georgia, serif;
    font-weight: 400;
    text-transform: none;
    line-height: 1.14;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
    color: rgb(59, 59, 59);
}

h2 {

    color: rgb(86, 182, 182);


    margin-top: 20px;
    margin-bottom: 30px;
    font-style: normal;
    font-size: 30px;
    font-family: "Chronicle Display",
        Georgia,
        serif;
    font-weight: 400;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;



}

img {
    display: block;
    max-width: 100%;
}

.container {
    display: block;
    max-width: 1080px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearf:after,
.clearf:before {
    content: " ";
    display: block;
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    display: block;
    position: relative;
    min-height: 1px;
    float: left;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-9 {
    width: 100%;
}


.foot {
    height: 400px;
    background-color: #A6D9E3;
    min-width: 100%;
    text-align: center;
    color: #FFFFFF;

    padding: 60px 0;

    font-weight: lighter;
    margin-top: 80px;
}


.main-display {}

.top-nav,
.cat-display {
    padding: 10px 30px;
    width: 100%;
}

.header {
    padding: 120px 50px 2px 50px;
    width: 100%;

}

.top-nav {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 5555
}

.top-nav .item {
    padding: 6px 10px;
    display: inline-block;
    color: rgb(86, 182, 182);
    font-size: 16px;
    font-weight: 500;

}

.top-nav .item:hover {
    color: rgb(48, 134, 134);
    transition: color 200ms;

}

.title-pic {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 70px;

    float: right;
}

.cat-display {}

.resume {
    display: block;
    margin: 0 auto;
}



.title {
    position: absolute;
    z-index: -1;
    padding: 0 10px;
}

.mask {
    z-index: 5;
    padding: 0 10px;
    visibility: visible;
    transition: 500ms;
    opacity: 0;

}

.mask:hover {
    opacity: 100%;

}

.works-title {
    text-align: center;
    margin: 0 auto;
    padding-right: 60px;
}

.selected-work {
    margin-bottom: 100px;
}
