* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 1.125em;
  font-weight: 400;
  text-transform: none;
  line-height: 1.625;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #050042;
}

h1 {
  font-style: normal;
  font-size: 40px;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

h2 {
  color: rgb(0, 0, 0);

  margin-top: 20px;
  margin-bottom: 30px;
  font-style: normal;
  font-size: 34px;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearf:after,
.clearf:before {
  content: ' ';
  display: block;
  clear: both;
}

.per-48,
.per-04 {
  display: block;
  position: relative;
  min-height: 1px;
  float: left;
}

.per-48 {
  width: 47.5%;
}

.per-04 {
  width: 5%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
  display: block;
  position: relative;
  min-height: 1px;
  float: left;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-9 {
  width: 100%;
}

.main-display {
}

.top-nav,
.cat-display {
  padding: 10px 30px;
  width: 100%;
}

.header {
  padding: 120px 50px 2px 50px;
  width: 100%;
}

.top-nav {
  /* background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  ); */
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);

  position: fixed;
  z-index: 5555;
}

.top-nav .item {
  margin: 0 8px;
  padding: 2px 0;
  display: inline-block;
  color: black;
  font-size: 18px;
  /* font-weight: 600; */
  text-decoration: none;
}

.top-nav .current {
  border-bottom-color: #13184e;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.top-nav .item:hover {
  color: #413f53;
  transition: color 200ms;
}

.top-nav-trans {
  padding: 10px 30px;
  /* width: 100%; */
}

.top-nav-trans {
  z-index: 5555;
}

.top-nav-trans .item {
  margin: 0 8px;
  padding: 2px 0;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.top-nav-trans .item:hover {
  color: #413f53;
  transition: color 200ms;
}

footer {
  /* background-color: #a6d9e3; */
  /* min-width: 100%; */
  margin-top: 20px;
  color: #000000;
  font-weight: 380;
  font-size: 15px;
}

.sns > a {
  opacity: 0.9;
}

.sns > a:hover {
  opacity: 1;
}
.title-pic {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 70px;

  float: right;
}

.cat-display {
  margin-bottom: 50px;
}

.two-selected {
}
.resume {
  display: block;
  margin: 0 auto;
}

.title {
  position: absolute;
  z-index: -1;
  display: block;
  margin-bottom: 50px;
}

.mask {
  z-index: 5;
  /* transition: 200ms; */
  opacity: 0;
  display: block;
  margin-bottom: 50px;
}

.mask:hover {
  opacity: 100%;
}

.works-title {
  text-align: center;
  margin: 0 auto;
  padding-right: 60px;
  margin-bottom: 0;
}

.selected-work {
  margin-bottom: 100px;
}

.two-to-one {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.one-to-two {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 20px;
}
.two-to-three {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 10px;
}

.three-to-two {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.chunk-left {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}

.more-picture {
  margin: 40px 40px;
}

.more-explanation {
  font-size: 24px;
  font-weight: 700;
  padding: 20px;
}

.align-center {
  text-align: center;
  margin: 0 auto;
}

.padding-right-30 {
  padding-right: 30px;
}

.padding-left-30 {
  padding-left: 30px;
}
.padding-top-60 {
  padding-top: 60px;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.one-to-two {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.one-to-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chunk-left {
  margin-right: 22px;
}

.my-photo {
  padding-right: 30px;
}

mark {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #a6d9e3 60%);
  height: 5px;
  background-position: bottom 50px;
}

.highlight {
  margin-top: 20px;
  margin-bottom: 60px;
  font-style: normal;
  font-size: 26px;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

.larger {
  font-size: 20px;
}

.intext-link {
  font-style: italic;

  display: inline-block;
  color: #000;
}

.intext-link:hover {
  font-style: normal;

  color: rgb(86, 182, 182);
  transition: color 200ms;
}

.block-breaker {
  background-color: #a6d9e3;
  color: #fff;
}

.white-text {
  color: #fff;
}

.headline {
  font-style: normal;
  font-size: 48px;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.index-add-margin {
  margin-bottom: 50px;
}

button > span {
  position: relative;
  z-index: 1;
}
button.swipe-overlay {
  padding: 10px 20px;
  border-radius: 1px;
  border-width: 2px;
  border-style: solid;
  font-size: 20px;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  cursor: pointer;
  /* transition: 0.25s ease; */
  color: #050042;
  border-color: #050042;
  background: transparent;
}

button.swipe-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #050042;
  width: 150%;
  padding-top: 150%;
  transition: 0.25s ease;
}

button.swipe-overlay::after {
  transform: rotate(25deg);
  top: -100%;
  left: -190%;
}

button.swipe-overlay {
  position: relative;
  overflow: hidden;
}
button.swipe-overlay:hover {
  color: #fff;
}
button.swipe-overlay:hover:after {
  left: -30%;
}

.index-header {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

@media only screen and (max-width: 800px) {
  .index-header {
    grid-template-columns: 1fr;
  }
  .index-header > .flavor {
    padding: 0 100px;
  }
}

.card {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  /* cursor: pointer; */
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 50%;
}

.card:hover {
  background-size: 55%;
  transition: 200ms;
}

.card > .card-text > .card-btn > .btn-arrow {
  transition: 800ms;
  position: relative;
  left: 0;
}
.card:hover > .card-text > .card-btn > .btn-arrow {
  transition: 800ms;
  left: 10px;
}

@media only screen and (max-width: 800px) {
  .card {
    grid-template-columns: 1fr;
    background-size: 100%;
    background-position: bottom;
  }

  .card:hover {
    background-size: 110%;
    transition: 200ms;
  }
}

.card-text > * {
  color: white;
}

.card-text {
  padding: 20px 40px;
}

.card-img {
  height: 400px;
}

.card-btn {
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  justify-self: end;
  font-weight: 600;
  position: relative;
  left: -5px;
}

.bg-lexio {
  background-color: #0097a7;
  background-image: url('../assets/img/index/lexio.png');
}

.bg-crcr {
  background-color: #576bce;
  background-image: url('../assets/img/index/crcr.png');
}
.bg-bubble {
  background-color: #58b581;
  background-image: url('../assets/img/index/bubble.png');
}

.bg-ticket {
  background-color: #dd682d;
  background-image: url('../assets/img/index/ticket.png');
}

.bg-trip {
  background-color: #555;
  background-image: url('../assets/img/index/trip.png');
}

.bg-sherwin {
  background-color: #13599e;
  background-image: url('../assets/img/index/sherwin.png');
}

.bg-roof {
  background-color: #d7a100;
  background-image: url('../assets/img/index/roof.png');
}
