.foot {
    height: 200px;
    float: left;
    //background: linear-gradient( #8CC5DF, #A7DAF1); /* 标准的语法 */
    background-color: #A6D9E3;
    min-width: 100%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 60px;
    font-weight: lighter;
    margin-top: 10px;
}
