html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: #000;
  background: #fff;
}
p{
  margin: 15px 0;
}


ol,
ul {
  list-style: none;

}



table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a img {
  border: none;
}

article,
aside,
canvas,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]),
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}




body {

    font-family: Source Sans Pro,
    Helvetica,
    Arial,
    sans-serif;
  /* font-family: Helvetica, Tahoma, Arial, 'Hiragino Sans GB', '\51AC\9752\9ED1\4F53', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', STXihei, '\534E\6587\7EC6\9ED1', SimSun, '\5B8B\4F53', Heiti, '\9ED1\4F53', sans-serif; */
  font-size: 16px;
}



@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

a {
  color: #4a75b5;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

a.external {
  padding-right: 13px;
  background: url("/images/icons.gif") no-repeat right 1px;
}

a.external:hover {
  background-position: right -15px;
}

a.NaviProject {
  text-decoration: none;
  color: #000000;
}

a.NaviProject:hover {
  background-color: #9BE4F3;
}

.index-wrapper .aside {
  position: relative;
  width: 100%;
  height: 300px;
  padding top: 100px;
  //background: #D5FFFF;
}

@media screen and (max-width: 767px) {
  .index-wrapper .aside {
    position: relative;
    width: 100%;
    height: 200px;
    max-width: none;
  }
}

.index-wrapper .info-card {
  position: relative;
  margin: 100px auto;
  width: 80%;
  text-align: middle;
  //background: #D5D8FF;
}

@media screen and (max-width: 767px) {
  .index-wrapper .info-card {
    text-align: center;
    margin: 100px auto 0px;
    width: 90%;

  }
}

.index-wrapper .info-card h1 {
  font-size: 10px;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  letter-spacing: 0.15em;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 15px, rgba(255, 255, 255, 0.5) 0 0 10px;
}

.index-wrapper .info-card a {
  margin: 0 15px;
}


.resume {
  position: relative;
  width: 80px;
  height: 40px;
  float: right;
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .resume {
    margin-top: -15px;
  }
}

footer {
  height: 360px;
  background-color: #a6d9e3;
  min-width: 100%;
  text-align: center;
  color: #ffffff;

  padding: 50px 0;

  font-weight: 380;
  font-size: 15px;

  margin-top: 80px;
}




.body-post {
  background: #ffffff;
}

@media screen and (max-width: 767px) {
  .body-post {
    background: #fff;
  }
}

/*
.left {
  float: left;
  width: 140px;
  height: 500px;
  margin-right: 20px;
  //background-color: red;
  position: fixed;
}

@media screen and (max-width: 767px) {
  .left {
    width: 100%;
    float: none;
    height: 250px;
    background-color: #DCF1F0;


  }
}
*/

.main {
  width: 100%;
  padding-left: 200px;

  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .main {
    margin: 0 0;
    width: 100%;
  }
}

.NaviBar {
  float: left;
  width: 200px;
  height: 500px;
  //background-color: #5DD3EB;
  font: bolder;
  position: fixed;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .NaviBar {
    position: relative;
    width: 100%;
    height: 200px;
    float: none;
    max-width: none;
    padding-bottom: 5px;
  }
}

.icon-Hu {
  margin-top: 100px;
  margin-left: 20px;
  //background-color: #FFD700;//测试区域
}

@media screen and (max-width: 767px) {
  .icon-Hu {
    margin-top: 20px;
    height: 200px;
    float: left;
  }
}

.Classification {
  font-size: 18px;
  margin-top: 50px;
  margin-left: 20px;
  //background-color: #FFD700;//测试区域
}

@media screen and (max-width: 767px) {
  .Classification {
    margin-top: 20px;
    height: 200px;
    margin-left: 20px;
    float: right;
  }
}

.NaviType {
  height: 24px;
  //background-color: #FA8072;
  font: bolder;
  margin-top: 10px;
}

.NaviProject {
  height: px;
  //background-color: #FFB6C1;//测试区域
  font: bolder;
  margin-top: 1px;
  font-size: 16px;
  font-weight: 300;
}

#nav {
  position: fixed;
  float: right;
  margin: 120px 10px;
  list-style-type: none;
      font-family: Source Sans Pro,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;

}

#nav li {
  margin-bottom: 2px;
}

#nav a {
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-size: 15px;
  display: block;
  padding: 2px 20px;
  color: #888;
  text-align: left;
  background-color: #fff;
  text-decoration: none;
  font-weight: 380;
}

#nav .current a {
  color: #fff;
  background: #94CDD5;
}

.post-wrapper {
  margin: 100px auto 10px;
  background: #fff;
  padding: 0px 20px 0px 20px;
  width: 100%;
}

/*
@media screen and (max-width: 767px) {
  .post-wrapper {
    width: 90%;
    margin: 50px auto 50px;
    padding: 0;
  }
}
*/
.post-wrapper .post-title,
.post-wrapper .post-title a {

  margin-bottom: 20px;
  color: #000;
  text-align: center;
  word-wrap: break-word;
  //Background:#ff0000

  margin-top: 0;
  font-style: normal;
  font-size: 2.75em;
  font-family: "Chronicle Display",
    Georgia,
    serif;
  font-weight: 400;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;

}

@media screen and (max-width: 767px) {

  .post-wrapper .post-title,
  .post-wrapper .post-title a {
    font-size: 24px;
  }
}

.post-wrapper .post-title:hover,
.post-wrapper .post-title a:hover {
  text-decoration: none;
}


.post-sub-title,
.post-sub-title a {
  margin-bottom: 60px;
  color: #000;
  text-align: center;
  word-wrap: break-word;
  //Background:#ff0000

  margin-top: 0;
  font-style: normal;
  font-size: 20px;
  font-family: "Chronicle Display",
    Georgia,
    serif;
  font-weight: 400;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;

}



.post-wrapper .post-date {
  margin-bottom: 30px;
  text-align: center;
  color: #999;
  font-size: 15px;
}

.post-wrapper .post-type {
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  font-size: 15px;
}

.post-wrapper .post-methods {
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  font-size: 15px;
}

.post-wrapper .post-tools {
  text-align: center;
  font-size: 15px;
  margin-bottom: 40px;
  color: #000;
}



@media screen and (max-width: 767px) {
  .post-wrapper .post-date {
    margin-bottom: 40px;
  }
}



.post-wrapper h2 {
  font-size: 26px;
  font-weight: 700;
    margin-top: 100px;
  color: #000;

  margin-bottom: 25px;
  /* border-bottom: 2px solid #eee; */
  padding-bottom: 10px;
   font-family: Source Sans Pro,
    Helvetica,
    Arial,
    sans-serif;
}

.post-wrapper h2 .number{
  color: #eee;
  display: inline;
  font-size: 100px;
  /* margin-right: 20px; */
  position: relative;
    left: -10px;

}



@media $mobiel {
  .post-wrapper h2 {
    font-size: 20px;
  }
}

.post-wrapper h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #000;
     font-family: Source Sans Pro,
    Helvetica,
    Arial,
    sans-serif;
}

@media screen and (max-width: 767px) {
  .post-wrapper h3 {
    font-size: 16px;
  }
}

.post-wrapper h4,
.post-wrapper h5,
.post-wrapper h6 {
  color: #333;
  font-weight: bold;
  margin-bottom: 15px;
}

.post-wrapper p {
  margin-bottom: 40px;
  line-height: 1.8em;
}

.post-wrapper code {
  background: #eee;
  border: 1px solid #ccc;
  padding: 0 5px;
  font-family: "Courier";
  line-height: 14px;
  font-size: 14px;
  word-wrap: break-word;
}

.post-wrapper pre {
  background: #f7f3f7;
  padding: 20px 30px 15px;
  overflow: auto;
  margin-bottom: 40px;
  font-size: 14px;
  border: 1px solid #eee;
  color: #b9bdb6;
  margin-top: -20px;
}

.post-wrapper pre code {
  background-color: transparent;
  border: none;
  padding: 0;
  word-wrap: normal;
}

@media screen and (max-width: 767px) {
  .post-wrapper pre code {
    line-height: 1em;
    font-size: 12px;
  }
}

.post-wrapper h4+pre,
.post-wrapper h3+pre {
  margin-top: 20px;
}

.post-wrapper ul {
  margin-bottom: 25px;
  margin-left: 25px;
}

.post-wrapper ul li {
  margin-bottom: 5px;
  list-style: disc;
  line-height: 1.8em;
}

.post-wrapper p+ul {
  margin-top: -20px;
}

.post-wrapper ol {
  margin-bottom: 25px;
  margin-left: 25px;
}

.post-wrapper ol li {
  margin-bottom: 5px;
  list-style: decimal;
  line-height: 1.1em;

}

@media screen and (max-width: 767px) {
  .post-wrapper ol li {
    margin-bottom: 0;
    line-height: 1em;
  }
}

.post-wrapper blockquote {
  margin-left: 25px;
  font-size: 14px;
  font-style: italic;
}

.post-wrapper img {
  max-width: 100%;
  display: block;
  margin: 5px auto;
}

@media screen and (max-width: 767px) {
  .post-wrapper img {
    max-width: 100%;
  }
}

.post-wrapper table {
  margin: 0 auto;
}

/*
.about-wrapper {
  background: #fff;
  margin: 0 auto;
  padding: 0px 0px 80px 100px;
  width: 85%;
}

@media screen and (max-width: 767px) {
  .about-wrapper {
    width: 100%;
    padding: 30px 7.5% 30px;
  }
}

.about-wrapper .aboutme {
  zoom: 1;
}

.about-wrapper .aboutme:before,
.about-wrapper .aboutme:after {
  content: "";
  display: table;
}

.about-wrapper .aboutme:after {
  clear: both;
}

.about-wrapper .aboutme h2 {
  margin-bottom: 20px;
}

.about-wrapper .aboutme h2 a {
  font-size: 18px;
}

.about-wrapper .aboutme li {
  line-height: 1.4;
  margin-bottom: 10px;
  float: left;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .about-wrapper .aboutme li {
    float: none;
    width: 80%;
  }
}

.about-wrapper .aboutme a {
  color: #B1D3E2;
  font-size: 14px;
}

*/

#disqus_container {
  font-size: 12px;
}

#disqus_container .share-con {
  float: right;
  margin-bottom: 20px;
}

#disqus_container a.comment {
  font-size: 14px;
}

.prettyprint {
  background: #f7f3f7;
  border: 0 !important;
}

.pln {
  color: #1b181b;
}

ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #B1D3E2;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 0.4em;
  background-color: #f7f3f7;
  list-style-type: decimal;

}

@media screen {
  .str {
    color: #918b3b;
  }

  .kwd {
    color: #7b59c0;
  }

  .com {
    color: #5a7b8c;
  }

  .typ {
    color: #516aec;
  }

  .lit {
    color: #a65926;
  }

  .pun {
    color: #1b181b;
  }

  .opn {
    color: #1b181b;
  }

  .clo {
    color: #1b181b;
  }

  .tag {
    color: #ca402b;
  }

  .atn {
    color: #a65926;
  }

  .atv {
    color: #159393;
  }

  .dec {
    color: #a65926;
  }

  .var {
    color: #ca402b;
  }

  .fun {
    color: #516aec;
  }
}

.wiki h2 {
  cursor: pointer;
}

.wiki ul {
  margin-left: 30px;
  margin-bottom: 20px;
  list-style: disc;
}

.wiki ul li {
  margin-bottom: 5px;
}

.wiki ul ul {
  list-style: circle;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
.highlight {
  font-family: SlatePro,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 32px;
  text-underline-position: below;
  font-weight: bold;
  margin: 20px 0;
}
*/

.highlight {
  margin-top: 20px;
  margin-bottom: 60px;
  font-style: normal;
  font-size: 26px;
  font-family: "Chronicle Display",
    Georgia,
    serif;
  font-weight: 400;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}



mark{
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #A6D9E3 50%);
  height: 5px;
background-position: bottom 50px;
}

.rectangle {
  display: block;
}

.ticketfeature {
  margin: 40px 0;
}


p,
.post-wrapper li
 {

  font-style: normal;
  font-size: 18px;
  font-family: Source Sans Pro,
    Helvetica,
    Arial,
    sans-serif;
  font-weight: 380;
  text-transform: none;
  line-height: 1.625;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}



.post-wrapper li{

  line-height: 2;
  margin-left: 40px;
}



.align-center {
  text-align: center;
}


.align-mid-center {
  margin: auto auto;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.one-to-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.two-to-one
{
  display: grid;
  grid-template-columns: 2fr 1fr;
}



.one-to-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.one-to-three {
  display: grid;
  grid-template-columns: 1fr 3fr;
}



.chunk-left {
  margin-right: 22px;
}

.bold-body {
  font-weight: bold;
}


.flr {
  float: right;
}


.last-next {
  margin-top: 40px;
}





.ticket-h3 {
  display: block;
  /* border-left-style: solid;
  border-left-color: rgb(148, 205, 213);
  border-left-width: 3px;
  padding-left: 10px; */


  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;

  margin-bottom: 10px;
}



.padding-right-30{
  padding-right: 30px;
}



.logo-left {
  margin: 0 20px;

  /* border-right-style: solid;
    border-right-color: solid; */

  border-width: 1px;

}

.chunk-top {

  margin: 0 0px;

  border-bottom-style: solid;
    border-bottom-color: solid;

  border-width: 1px;

}



.quote{

    font-style: italic;
  font-size: 24px;
  font-family: "Chronicle Display",
    Georgia,
    serif;
  font-weight: 400;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

.card{
  background-color: #fff;
    box-shadow: 2px 2px 4px #a6a6a6;
    padding: 20px 20px;
}

.green-card{
  /* background-color:#F3FAEE; */
    padding: 20px 20px;
}


.bubble-green-1{
  background-color: #f1faf2;
}

.bubble-green-2{
  background-color: #76cd9b;
}

.bubble-gray{
  background-color: #999999;
}

.lexio-blue{
  background-color: #0097A7;
}


.bubble-footer{
  margin: 0 0;
  background-color: #76cd9b;

}

.lexio-footer{
  margin: 0 0;
  background-color: #0097A7;

}



.case-bubble{
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
      text-align: center;
    margin: 0 auto 0;
}

.gif-bubble{

      text-align: center;
    margin: 0 auto 0;
}

.mock-box{
position: relative;

}

.no-place{
position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

}

.lexio-gif {
  /* width: 1400px; */
}
