.container {
  overflow: hidden;
}

.tool-card {
  background-color: #ffffff;
  color: #000;
  padding: 10px 10px;
  margin: 40px 10px;
  display: none; /* Hidden by default */
  box-shadow: 2px 2px 10px #a9a9a9;
}

.tool-text {
  padding: 0 30px;
  height: 100%;
  position: relative;
}

.tool-title {
  margin: 30px 0;
  font-size: 30px;
}

.tool-descripion {
}

.tool-source {
  font-size: 14px;
  vertical-align: text-bottom;
  position: absolute;
  bottom: 10px;
  left: 30px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 30px;
  color: rgb(86, 182, 182);
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 30px;
  margin: 3px 3px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: rgb(86, 182, 182);
  color: white;
}
