.container {
  overflow: hidden;
}

.tool-card {
  background-color: #ffffff;
  color: #000;
  padding: 10px 10px;
  margin: 40px 10px;
  display: none; /* Hidden by default */
  box-shadow: 0 2px 6px #dbdbdb;
  border-radius: 5px;
}

.tool-text {
  padding: 0 30px;
  height: 100%;
  position: relative;
}

.tool-title {
  margin: 30px 0;
  font-size: 30px;
}

.tool-descripion {
}

.tool-source {
  font-size: 14px;
  vertical-align: text-bottom;
  position: absolute;
  bottom: 10px;
  left: 30px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: solid;
  border-width: 1px;
  outline: none;
  padding: 10px 14px;
  color: #050042;
  border-color: #050042;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 30px;
  margin: 3px 3px;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #efefef;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #050042;
  color: white;
}
