---
layout: default
---

<body class="body-post">
  <div class="NaviBar">
            <div class="icon-Hu">
          <a class="icon-Hu" href="/" target="_blank"><img src="/images/Logo-HU.svg" alt="" width="100"/></a>
        </div>
    <div class="Classification">
      <div class="NaviType"><a href="/">All Projects</a></div>
   
      <div class="NaviProject">
         <ul class="artical-list">
        {% for post in site.categories.blog %}
        <li>
       <div class="project-shortTitle">
        <a class="NaviProject" href="{{ post.url }}" class="title">{{ post.shortTitle }}</a>
        </div>        
        </li>
        {% endfor %}
      </ul>
     </div>       
      
      <div class="NaviType"><a href="#">Fun</a></div>
    </div>
  </div>
  <div class="post-wrapper">
    <h1 class="post-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
    <p class="post-date">{{ page.date|date:"%Y-%m-%d" }}</p>
    {{ content }}
  </div>
  {% include about.html %}

  <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="/js/post.js" type="text/javascript"></script>
</body>
