---
layout: default
---

<body class="body-post">
  <div class="NaviBar">
    <div class="Classification">
      <div class="NaviType"><a href="#">Featured Projects</a></div>
//      <div class="NaviProject"><a href="#">Hua Xiao Tuo</a></div>
      <div class="NaviType"><a href="#">All Works +</a></div>
    </div>
  </div>
  <div class="post-wrapper">
    <h1 class="post-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
    <p class="post-date">{{ page.date|date:"%Y-%m-%d" }}</p>
    {{ content }}
  </div>
  {% include about.html %}

  <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="/js/post.js" type="text/javascript"></script>
</body>
